<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027893698815-10j560v284rjh6518kicjoeh8h0eevlu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027893698815-10j560v284rjh6518kicjoeh8h0eevlu</string>
	<key>API_KEY</key>
	<string>AIzaSyChbqPd9pmWvnOofzeQxS1XumDUt1HGSR4</string>
	<key>GCM_SENDER_ID</key>
	<string>1027893698815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bookapp.bookapp</string>
	<key>PROJECT_ID</key>
	<string>bookapp-9e439</string>
	<key>STORAGE_BUCKET</key>
	<string>bookapp-9e439.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027893698815:ios:0945205e2f61f83f402cca</string>
</dict>
</plist>